* {
    box-sizing: border-box;
}

html {
    --ua-gray: #4d4d4d;
    --ua-green: #39f746;
    font-family: sans-serif;
}

body {
    margin: 0;
    color: #fff;
    background: var(--ua-gray);
}

h1,h2,h3,h4,h5,h6 {
    font-size: 2rem;
    margin: 0 0 5px;
    color: var(--ua-green);
}

h1 {
    text-align: center;
    margin: 8px 0 30px;
}

header,
section,
footer {
    padding: 10px;
}

header > div,
section > div,
footer > div {
    background: var(--ua-gray);
    width: 1100px;
    margin: 0 auto;
}

#social, #social > div,
#schedule, #schedule > div,
footer, footer > div {
    background: #fff;
    color: var(--ua-gray);
}

#social h2,
#schedule h4,
footer h6 {
    color: #000;
}

img {
    float: left;
    padding-right: 15px;
}

header p {
    overflow: auto;
}

footer {
    padding-bottom: 200px;
}